---
// src/layouts/Layout.astro
---
<head>
  <script defer data-domain="reactcc.netlify.app" src="https://plausible.akoskm.com/js/script.outbound-links.js"></script>
</head>
<body>
  <slot />
</body>
